# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\itsishu\python_workspace2\pims\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
